<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/main.css" rel="stylesheet" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body class="grey=bg">
 
  
      <form class="form-box" action="/add" method="POST">
        <h4>글쓰기</h4>
        name<input name="name">
        description<input name="description">
        category<input name="category">
        price<input name="price" type:"integrity">
        published<input name="published">

        <button type="submit">전송</button>

    </form>
    
    </div>
  </body>
</html>
